{% include "header.html" %}
<body>
{% include "navigation.html" %}
{% set existingBadge = True if eb is defined else False %}
    <div class="main">
        <table id="badgetable" class="table table-striped display nowrap" style="position: relative; z-index: 0;">
            <thead>
              <tr>
                  <th></th>
                  <th>Nr</th>
                  <th>Kort</th>
                  <th>Lång</th>
              </tr>
            </thead>
            <tbody>

              <tr>
            {% for part in nrParts %}
            <tr>
                <th></th>
                <th>part.nr</th>
                <th>part.short_desc</th>
                <th>part.long_desc</th>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
